@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
}

.fade-in {
  animation: fade-in 0.5s ease-in-out forwards;
}

.mob {
  display: none;
}

.home {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  animation: anim-wait 1.5s ease-in-out;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(10px);
  background-image: url("imgs/bg.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: #1d1d1d77;
}

@keyframes anim-wait {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: hidden;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #2c2c2cee;
  padding: 10px;
  z-index: 2;
  user-select: none;
  display: flex;
  animation: hide-nav 1.5s ease-in-out;
}

@keyframes hide-nav {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
}

header h2 {
  font-size: 27px;
  font-weight: 600;
  color: #fff;
  padding-left: 10px;
  transition: letter-spacing 0.3s ease;
}

header h2:hover {
  letter-spacing: 2px;
}

.header-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 10px;
  border-left: 2px solid #ffff;
}

.header-nav li {
  font-size: 14px;
  padding: 10px;
}

.header-nav a {
  text-decoration: none;
  color: #ffff;
  font-weight: bold;
  text-shadow: none;
  transition: all 0.3s ease;
}

.header-nav a:hover {
  color: #1a9c73;
  text-shadow: 0px 0px 3px #1a9c73;
}

.main-cont {
  display: flex;
  padding-top: 70px;
}

nav {
  display: none;
  position: fixed;
  transform: translateX(-210px);
  background-color: #2c2c2cf3;
  box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 0.1);
  text-align: left;
  width: 210px;
  height: 100vh;
  transition: transform 0.3s ease-in-out;
  z-index: 100;
}

nav:hover {
  transform: translateX(0);
}

nav h2 {
  padding: 30px;
  text-align: center;
}

.bmk {
  color: #ffff;
  display: flex;
  align-items: center;
  position: absolute;
  padding: 5px;
  background-color: #2c2c2cf3;
  border-radius: 10px;
  top: 0;
  left: 204px;
  height: 96px;
  width: 40px;
  text-indent: 10px;
}

.main-cont ul {
  list-style-type: none;
}

.main-cont li {
  padding-left: 20px;
  border-left: 8px solid #1a9c73;
  transition: background-color 0.3s, padding-left 0.3s, border-left 0.3s;
}

.main-cont li:hover {
  background-color: #333;
  border-left: 8px solid #24cc8c;
  padding-left: 15px;
}

.main-cont nav a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  display: block;
  padding: 15px 20px;
  transition: color text-shadow 0.3s ease;
}

.main-cont nav a:hover {
  color: #24cc8c;
  text-shadow: 0px 0px 5px #24cc8c;
}

main {
  color: #fff;
}

.fade-text {
  background: linear-gradient(
    to right,
    #fff 20%,
    #1a9c73 40%,
    #1a9c73 60%,
    #fff 80%
  );
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 1.5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100% center;
  }
  100% {
    background-position: -100% center;
  }
}

h1 {
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.3;
  animation: startup 1.5s ease-in-out;
}

@keyframes startup {
  0% {
    padding: 210px 0px;
    font-size: 70px;
  }
  25% {
    padding: 210px 0px;
    font-size: 70px;
  }
}

.content {
  text-align: justify;
  padding: 10px;
  line-height: 1.6;
  overflow: hidden;
}

.content p {
  font-size: 16px;
  padding: 0px 10px;
}

.content h2 {
  padding: 5px;
  font-size: 24px;
  border-bottom: 5px solid #ffff;
  animation: hide-nav 1.5s;
}

.content a {
  color: #24cc8c;
  text-decoration: none;
  transition: color 0.3s ease;
}

.content a:hover {
  color: #1a9c73;
}

blockquote {
  font-style: italic;
  margin-top: 10px;
  padding: 12px;
  border-left: 5px solid #24cc8c;
  border-radius: 5px;
  background-color: #30303085;
  color: #ccc;
}

.container-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3333338a;
}

.container-1 h2 {
  font-size: 30px;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.3;
}

.text-description {
  max-width: 40%;
}

.text-description h2 {
  padding: 0;
  margin: 0;
  border-bottom: none;
}

.text-description p {
  margin: 0;
  padding: 0;
}

.soc-med {
  margin: 0 auto;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.soc-med a {
  color: #ffff;
  rotate: 0deg;
  transition: rotate 0.3s ease, text-shadow 0.3s ease, color 0.3s ease;
}

.soc-med a:hover {
  color: #1a9c73;
  text-shadow: 0px 0px 3px #1a9c73;
  rotate: -10deg;
}

.img-cont {
  padding: 15px 15px 0px;
}

.img-cont img {
  user-select: none;
  border: 2px solid;
  border-radius: 900px;
  width: 300px;
  height: 300px;
}

.web-info {
  margin-top: 5px;
}

.container-2 {
  margin-top: 20px;
}

.about-projects p {
  padding: 10px;
}

.project-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.project {
  background-color: #3333338a;
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 2px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  user-select: none;
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 10px 0px #f7f3f37e;
}

.project h2 {
  font-size: 24px;
  margin: 0;
  border-bottom: none;
}

.project p {
  margin-bottom: 20px;
  line-height: 1.5;
}

.project a {
  color: #ffff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.project a:hover {
  color: #1a9c73;
}

.coming-soon {
  text-align: center;
  padding: 10px;
  opacity: 50%;
  user-select: none;
  color: #acacac;
}

footer {
  background-color: #2c2c2c6b;
  padding: 20px;
  text-align: center;
  color: #fff;
  user-select: none;
}

.main-achievement-cont {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
}

.achievements-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
}

.achievement {
  text-align: center;
  max-width: 600px;
  max-height: 200px;
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #3333338a;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: max-height 0.8s ease, transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  user-select: none;
  color: white; 
  background-color: transparent;
  position: relative;
}

.achievement:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 10px 0px #f7f3f37e;
  background-color: transparent;
}

.achievement::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(5px);
  opacity: 0.3; 
  z-index: -1; 
}

.achievement .content {
  position: relative;
  z-index: 1;
}

.ach-1::before {
  background-image: url(imgs/g11cons.jpg);
}

.ach-2::before {
  background-image: url(imgs/wip-g11.jpg);
}

.ach-3::before {
  background-image: url(imgs/g12cons.jpg);
}

.ach-4::before {
  background-image: url(imgs/cube.jpg);
}

.ach-5::before {
  background-image: url(imgs/wip-comp.jpg);
}

.achievement.expanded {
  max-height: 1300px;
}

.achievement img {
  margin-top: 30px;
  width: 85%;
  border-radius: 8px;
  object-fit: cover;
}

.achievement h2 {
  border-bottom: 2px solid #ffffff67;
}

.achievement p {
  margin-top: 15px;
}

.main-essay-container {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #3333338a;
}

.main-essay-container img {
  width: 300px;
  height: 400px;
  object-fit: cover;
}

.essay-cont p {
  padding: 10px;
}

@media (max-width: 810px) {
  .mob {
    display: inline;
  }
  header {
    display: none;
  }
  .main-cont {
    padding: 0;
  }
  nav {
    display: block;
    position: fixed;
    animation: hide-nav 1.5s;
  }
  .content h1 {
    padding: 10px;
    animation: mob-intro 1.5s ease-in-out;
  }
  @keyframes mob-intro {
    0% {
      padding: 422px 0px;
    }
    25% {
      padding: 422px 0px;
    }
  }
  .bmk h1 {
    animation: none;
  }
  h2 {
    margin-top: 10px;
  }
  .container-1 {
    flex-direction: column;
    padding: 10px;
  }
  .container-1 h2 {
    text-align: center;
    font-size: 25px;
  }
  .text-description {
    max-width: 80%;
    padding-bottom: 10px;
  }
  .text-description p {
    text-align: justify;
    font-size: 15px;
  }
  .content p {
    margin-top: 10px;
    font-size: large;
  }
  .main-achievement-cont {
    flex-direction: column;
  }
  .achievement {
    padding: 5px;
    box-shadow: inset 0 -20px 15px -25px #ffffff;
  }
  .achievement img {
    width: 100%;
  }
  .achievement h2 {
    font-size: 18px;
  }
  .achievement p {
    font-size: 15px;
  }
  .main-essay-container {
    flex-direction: column;
  }
  .main-essay-container img {
    width: 100%;
  }
  .essay-cont {
    padding: 10px;
    margin-top: 10px;
  }
}
