@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html { 
  scroll-behavior: smooth; 
}

body {
  background-color: #f7f7f7;
}

/*HEADER*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #ca0216da;
  box-shadow: 0px 0px 2px 0px;
  padding: 10px;
  z-index: 3;
  user-select: none;
  display: flex;
}

header img {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 100%;
}

header h2 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  padding-left: 10px;
  transition: letter-spacing 0.3s ease;
}

.header-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 10px;
  border-left: 2px solid #ffff;
}

.header-nav li {
  font-size: 14px;
  padding: 10px;
}

.header-nav a {
  text-decoration: none;
  color: #ffff;
  font-weight: bold;
  text-shadow: none;
  transition: all 0.3s ease;
}

.header-nav a:hover {
  text-shadow: 0px 0px 3px #ffff;
}

h2 {
  color: #ffff;
  font-size: 25px;
  letter-spacing: 3px;
  text-shadow: 0px 0px 10px #ffff;
}

/*MISSION*/
.img-bg {
  width: 100%;
  height: 100vh;
  background-image: url(imgs/people.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  place-content: center;
}

.mission-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  max-width: 75%;
  margin: 0 auto;
  text-align: justify;
}

.overlay {
  border-image: fill 1 linear-gradient(#ebebeba9, #ebebeba9);
}

.overlay2 {
  border-image: fill 1 linear-gradient(#353535a9, #696969a9);
}

h1 {
  font-size: 4vw;
  width: 30%;
  text-align: center;
  text-shadow: 0px 0px 1px;
  padding-right: 20px;
  border-right: 10px solid #d61528;
  animation: mission 1s forwards;
}

.img-bg p {
  font-size: 2.5vw;
  max-width: 60%;
  padding-left: 20px;
  text-shadow: 0px 0px 1px;
  animation: mission 2s forwards;
}

@keyframes mission {
  0% {
    opacity: 0;
    max-width: 0%;
  }
  50% {
    opacity: 0;
    max-width: 0%;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main h2 {
  padding: 20px;
  text-align: center;
  color: #000000;
  font-size: 25px;
}

.parent-2 {
  width: 100%;
  height: 100vh;
  background-image: url(imgs/kuya-ge.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  place-content: center;
}

.parent-2 blockquote {
  color: #ffff;
  font-style: italic;
  font-size: 1.2vw;
  margin-top: 40px;
  margin-left: 20px;
  padding-right: 20px;
  width: 50%;
  border-right: 5px solid #d61528;
  text-align: right;
}

.video-container {
  margin-top: 20px;
  margin-left: 180px;
}

.video-container video {
  width: 400px;
  height: 250px;
}

.gallery {
  padding-top: 10px;
  height: 90vh;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: inset 0 -10px 20px -15px #000000;
}

.gallery-item {
  max-width: 300px;
  max-height: 300px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 5px;
  transition: 0.3s all;
}

.gallery-item:nth-child(34) {
  box-shadow: none;
  border-radius: 30px;
  max-width: 700px;
  max-height: 300px;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.gallery-item:nth-child(34):hover {
  box-shadow: 0px 0px 10px 0px;
  cursor: pointer;
}


.gallery-item:nth-child(34) img {
  width: 150px;
  height: 150px;
}

.gallery-item:hover {
  box-shadow: 0px 0px 10px 0px;
  cursor: pointer;
}

.gallery-item.expanded {
  z-index: 2;
  position: fixed;
  top: 110px;
  left: 50;
  width: 100%;
  height: 100%;
  max-width: max-content;
  max-height: 500px;
}

.gallery-item.expanded::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000096;
  backdrop-filter: blur(3px);
  z-index: -1;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.parent-3 {
  border-image: fill 1 linear-gradient(#353535a9, #353535a9);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 50px 0px;
  background-image: url(imgs/ugats.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  place-content: center;
}

.parent-3 img {
  width: 200px;
  height: 500px;
  object-fit: cover;
  margin: 20px;
  margin-right: 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.essay {
  height: 500px;
  overflow: auto;
  padding: 20px;
  background-color: none;
  backdrop-filter: blur(3px);
  color: #ffff;
  margin: 20px;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: inset 0 -10px 15px -15px #000000;
}

.essay p {
  text-align: justify;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.parent-4 {
  text-shadow: 0px 0px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  gap: 20px;
  background-image: url(imgs/social.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  place-content: center;
}

.parent-4 h1 {
  all: revert;
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
}

.parent-4 h2 {
  all: revert;
  font-size: 25px;
}

.parent-4 p {
  all: revert;
  font-size: 18px;
  text-shadow: 0px 0px 1px;
}

.soc-media {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 50px;
}

.soc-media img {
  padding: 10px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #ffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s linear, box-shadow 0.3s linear;
}

.soc-media img:hover {
  box-shadow: 0px 0px 3px;
  transform: translateY(-3px);
}

footer {
  background-color: #ca0216;
  border-top: 10px solid #d61528;
  color: #fff;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-logo img {
  border-radius: 1000px;
  background-color: #ffff;
  width: 130px;
}

.footer-info {
  text-align: center;
}

.footer-info p {
  margin-bottom: 10px;
}

.footer-bottom {
  text-align: center;
  margin-top: 10px;
}


/* For screens smaller than 768px (tablets and smaller devices) */
@media (max-width: 1194px) {

  h2 {
    font-size: 25px; /* Decrease font size for better readability */
  }

  .mission-cont {
    width: 100%;
  }

  .img-bg h1 {
    font-size: 5vw;
    width: 100%;
  }

  .img-bg p {
    max-width: 60%;
    font-size: 3vw;
  }

  .parent-2 blockquote {
    margin: 0 auto;
    margin-top: 30px;
    font-size: 16px; /* Decrease font size for better readability */
    width: 90%; /* Adjust width for better responsiveness */
    text-align: justify;
  }

  .parent-2 {
    background-position: -500px;
  }

  .video-container {
    margin-top: 30px; /* Adjust margin for smaller screens */
    margin-left: 0; /* Center-align video container */
  }

  .video-container video {
    width: 100%; /* Ensure video fills its container */
    height: auto; /* Ensure video height adjusts proportionally */
  }

  .gallery-item {
    width: calc(50% - 20px); /* Adjust gallery item width for better layout */
  }

  .parent-3 img {
    width: 80%; /* Adjust image width for better responsiveness */
    height: 400px;
    margin: 20px auto; /* Center-align images and add some vertical spacing */
  }

  .essay {
    height: 400px; /* Allow essay container to adjust its height */
    max-width: 70%; /* Adjust max-width for better responsiveness */
    margin: 20px auto; /* Center-align essay container and add some vertical spacing */
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .essay p {
    font-size: 16px; /* Decrease font size for better readability */
  }

  .parent-4 {
    padding: 20px; /* Adjust padding for smaller screens */
  }

  .parent-4 h2 {
    font-size: 24px; /* Decrease font size for better readability */
  }

  .parent-4 h1 {
    font-size: 60px; /* Decrease font size for better readability */
  }

  .parent-4 iframe {
    max-width: 500px; /* Adjust iframe width for better responsiveness */
    height: 435px; /* Adjust iframe height for better responsiveness */
  }
  
  .soc-media {
    flex-direction: row; /* Change to column layout for better stacking */
    gap: 20px; /* Add gap between icons */
    align-items: center; /* Center align icons */
  }

  .soc-media img {
    width: 80px; /* Decrease icon size for smaller screens */
    height: 80px; /* Decrease icon size for smaller screens */
    padding: 10px; /* Decrease padding for smaller screens */
  }
}

/* For screens smaller than 480px (small smartphones) */
@media (max-width: 610px) { 
  header h2 {
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    transition: letter-spacing 0.3s ease;
    border-right: 2px solid #ffff;
  }

  header img {
    width: 30px;
    height: 30px;
  }

  .header-nav ul {
    border: none;
  }

  .header-nav li {
    font-size: 10px;
    padding: 5px;
  }

  h1 {
    font-size: 25px; /* Decrease font size for better readability */
  }

  h2 {
    font-size: 24px; /* Decrease font size for better readability */
  }

  .mission-cont {
    flex-direction: column;
    width: 100%;
  }

  .mission-cont h1 {
    font-size: 40px;
    width: 100%;
    text-align: center;
    border: none;
    padding: 0;
  }

  .mission-cont p {
    margin-top: 5px;
    font-size: 20px;
    max-width: 100%;
    text-align: center;
    border: none;
    padding: 0;
  }

  .people {
    width: 100%;
    height: 600px;
  }
  
  .parent-2 blockquote {
    font-size: 14px; /* Further decrease font size for better readability */
    width: 90%; /* Adjust width for better responsiveness */
  }

  .parent-3 img {
    width: 40%; /* Further adjust image width for better responsiveness */
  }

  .gallery {
    height: 700px;
  }

  .gallery-item.expanded {
    z-index: 2;
    position: fixed;
    top: 110px;
    left: 50;
    width: 100%;
    height: 100%;
    max-width: 80vw;
    max-height: 400px;
  }

  .essay {
    margin-left: 10px; /* Center-align essay container and reduce margin */
  }

  .essay p {
    font-size: 14px; /* Further decrease font size for better readability */
  }

  .parent-4 h2 {
    font-size: 20px; /* Further decrease font size for better readability */
  }

  .soc-media img {
    width: 60px; /* Further decrease icon size for smaller screens */
    height: 60px; /* Further decrease icon size for smaller screens */
    padding: 5px; /* Further decrease padding for smaller screens */
  }

  .footer-content {
    margin-left: 25px;
    gap: 20px;
  }

  .footer-logo img {
    border-radius: 1000px;
    background-color: #ffff;
    width: 100px;
  }
  
  .footer-info {
    text-align: center;
  }
  
  .footer-info p {
    width: 80%;
    font-size: 15px;
    margin-bottom: 10px;
  }

}
